.grid
{
    display: flex;
    margin: auto;
    width: 1400px;
    height: 700px;
    justify-content: space-between;
    gap: 100px;
    margin-left: 10px;
   
}
.box
{
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    margin: auto;
    position: relative;
    box-shadow: 5px 5px 30px rgb(0, 217, 255);
    border: 5px solid black;
   
}
.box:hover{
    transform: scale(1.1);
    transition: 1s;
    border-radius: 35px;
    border: 10px solid black;
}
.in1
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 400px;
    height: 400px;
    transition: 1s;
    animation: trr 1s;
}
@keyframes trr {
    0%{transform: translateY(40px);}
    50%{transform: translateY(-20px);}
    100%{transform: translateY(0px);}
    
}

.in2
{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    background-color: rgba(45, 172, 211, 0.527);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: ;
}
.img
{
    width: 40px;
    height: 40px;
}
.symbols
{
    display: flex;
    width: 350px;
    height: px;
    justify-content: space-between;
    margin: auto;

}
.audio
{
    width: 380px;
    height: 50px;
    margin: auto;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 60px;
    opacity: 50%;
  

}
.audio:hover
{
    opacity: 100%;
}
.h1
{
    margin: auto;
    font-size: larger;
    color: aliceblue;
    display: block;
}
.bc
{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
}
body
{
    background-color: rgb(4, 68, 94);
}
nav{
    min-width: 100%;
    height: 200px;
    top: 0;
    right: 0;
    position: absolute;
    background-image: url(inbg.gif);
    text-align: center;

}
